/* RESET */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-full {
    width: 100%;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0px;
}

/* ROW */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}

.blue {
    width: 100%;
    padding: 10px 10px;
    background-color: #006CFA;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
}

.big {
    width: 100%;
}

.green {
    padding: 5px 0px;
    background-color: #00E165;
    color: white;
    text-align: center;
    margin: 0px 2px;
  
}